* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.code-wrapper {
    flex: 1;
    height: 45%;
    padding: 8px;
    background: #272822;
    /*background: linear-gradient(to bottom, rgba(249,221,149,1) 0%,rgba(249,192,47,1) 49%,rgba(247,195,64,1) 51%,rgba(255,230,0,1) 100%);*/
    border-bottom: 1px solid #E2E2E3;
}

.preview-wrapper {
    flex: 1;
    height: 55%;
}

#code {
    overflow: hidden;
    height: 100%;
}

.token.selector {
    color: #A6E22E;
}

.token.property {
    color: #66D9EF;
}

.token.function {
    color: #FF070B;
}

.token.punctuation {
    color: #F8F8F2;
}

#code {
    color: #AE81FF;
}

.actions{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
}
.actions > button{
    padding: 5px;
    margin: 5px;
}
.actions >button.active{
    box-shadow: 4px 4px 8px rgba(0,0,0,0.8);
    background: rgb(175, 197, 216); 
    border-radius: 2px;
}
.actions >button:focus{
    outline: none;
}